@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$sans: 'Karla';
$sans2: 'Parisienne';
$sans3:'Montserrat';

@mixin bp($point) {
  @if $point==xlarge {
    @media (min-width: 1280px) {
      @content ;
    }
  }

  @else if $point==large {
    @media (min-width: 1024px) {
      @content ;
    }
  }

  @else if $point==medium {
    @media (min-width: 768px) {
      @content ;
    }
  }

  @else if $point==small {
    @media (min-width: 480px) {
      @content ;
    }
  }

  @else if $point==xsmall {
    @media (max-width: 320px) {
      @content ;
    }
  }
}


$green: #173f3d;
$blue: #243156;
$white: #ffffff;
$maroon: #B7245C;
$pink-red: #E7003A;
$yellow: #fff4d4;
$black: #000;

@import 'top';
@import 'cta';
@import 'spotlight';
@import 'item-gallery';
@import 'catalog-spotlight';
@import 'wysiwyg';
@import 'mma';
@import 'video';
@import 'about-us';
@import 'quote';
@import 'footer';
@import 'navigation';