.catalog-spotlight {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0;
  transition: .25s;

  &:hover p.item-gallery-headline {
    color: $pink-red;

  }

  &-wrapper {
    display: block;
    max-width: 1080px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: $sans3;
    color: $black;
    // outline: 2px dashed lavender;

    @include bp(medium) {
      padding: 0px 40px 30px;
    }
  }

  &-button {
    border: 1px solid #313131;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 auto;
    margin: 10px 0 10px;
    position: relative;



    @include bp(medium) {
      margin-top: 100px;
    }

    a {
      display: block;
      color: $black;
      padding: 10px 30px;
      text-decoration: none;
      transition: .25s;
      font-size: 14px;
      font-weight: 600;
      margin-left: 0px;

      // &:after {
      //   content: '';
      //   width: 40px;
      //   height: 100%;
      //   top:0;
      //   position: absolute;
      //   right: 0;
      //   left: 100%;
      //   background: #313131 url("https://i.ibb.co/WvHYhKz/arrow-white.png") no-repeat center; 
      //   background-size: 18px;
      //   outline: 2px solid black;
      //   transition: .25s;
      // }

      &:hover {
        color: white;
        background-color: #313131;
      }
    }

    a:hover:after {
      background-color: #fff;
    }
  }


  &-subtext p {
    font-size: 1.1rem;
    // padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
  }

  p.catalog-spotlight-headline {
    position: relative;
    width: 80%;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 40px;
    padding: 0;
    text-align: center;
    z-index: 9;
    opacity: .7;
    top: 0;
    text-transform: uppercase;
    color: #313131;
    margin: 0 auto;
    transition: .25s;

    @include bp(small) {
      width: 100%;
      font-size: 3em;
      text-align: center;
      padding-left: 0px;
    }

    @include bp(medium) {
      width: 100%;
      top: 33px;
      font-size: 6em;
      margin-bottom: 0px;
    }

    @include bp(large) {
      position: relative;
      width: auto;
      top: 35px;
      text-align: left;
      font-size: 7em;
      margin: auto;
    }
  }

    .duo {
      max-width: 1080px;
      height: auto;
      @include bp(large){
      height: 550px;
      }


      .left {
        position: relative;
        float: left;
        width: 47%;
        height: 300px;
        display: flex;
        flex-direction: column;

        @include bp(medium){
          position: relative;
          float: left;
          width: 50%;
          height: 550px;
          display: flex;
          flex-direction: column;
        }


        .big {
          height: 100%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
        }

        .category {
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
          background: #fff;
        }
      }

      .right {
        position: relative;
        float: left;
        width: 47%;
        height: 300px;
        margin-top: 40px;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        // clear: both;
        
        @include bp(medium){
          position: relative;
          margin-top: 0;
          margin-left: 0;
          float: left;
          width: 50%;
          height: 550px;
          display: flex;
          flex-direction: column;
        }

        .small {
          height: 100%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
          
          @include bp(medium){
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 70%;
          width: 70%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
          }
        }

        .category {
            font-size: 1rem;
            // font-weight: 600;
            margin-top: 10px;
            background: #fff;

            @include bp(medium){
          position: absolute;
          bottom: 15%;
          left: 15%;
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
          background: #fff;
            }
        }
      }
    }

    .duo-swap {
      display: block;
      max-width: 1080px;
      height: auto;
      @include bp(large){
      height: 550px;
      }


      .left {
        position: relative;
        float: right;
        width: 47%;
        height: 300px;
        margin-top: 40px;
        margin-left: 5%;
        display: flex;
        flex-direction: column;

        @include bp(medium){
          position: relative;
          float: left;
          width: 50%;
          height: 550px;
          margin-top: 0;
        margin-left: 0;
          display: flex;
          flex-direction: column;
        }

        .small {
          height: 100%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
          
          @include bp(medium){
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 70%;
          width: 70%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
          }
        }

        .category {
            font-size: 1rem;
            // font-weight: 600;
            margin-top: 10px;
            background: #fff;

            @include bp(medium){
          position: absolute;
          bottom: 15%;
          left: 15%;
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
          background: #fff;
            }
        }
      }

      .right {
        position: relative;
        float: left;
        width: 47%;
        height: 300px;
        display: flex;
        flex-direction: column;

        @include bp(medium){
          position: relative;
          float: left;
          width: 50%;
          height: 550px;
          display: flex;
          flex-direction: column;
        }

        .big {
          height: 100%;
          background: url("//unsplash.it//900/900") center no-repeat;
          background-size: cover;
        }

        .category {
          display: inline-block;
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
          background: #fff;
          width: auto;
        }
      }
    }
  }