.catalog-spotlight {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px auto;
  padding: 20px 0;
  transition: .25s;

  &:hover p.item-gallery-headline {
    color: $pink-red;

  }

  &-wrapper {
    display: block;
    max-width: 1080px;
    padding: 0px 20px;
    margin: 0 auto;
    font-family: $sans3;
    color: $black;
    // outline: 2px dashed lavender;

    @include bp(medium) {
      padding: 0px 40px 30px;
    }
  }

  &-button {
    border: 1px solid #313131;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 auto;
    margin: 10px 0 10px;
    position: relative;



    @include bp(medium) {
      margin-top: 100px;
    }

    a {
      display: block;
      color: $black;
      padding: 10px 30px;
      text-decoration: none;
      transition: .25s;
      font-size: 14px;
      font-weight: 600;
      margin-left: 0px;

      // &:after {
      //   content: '';
      //   width: 40px;
      //   height: 100%;
      //   top:0;
      //   position: absolute;
      //   right: 0;
      //   left: 100%;
      //   background: #313131 url("https://i.ibb.co/WvHYhKz/arrow-white.png") no-repeat center; 
      //   background-size: 18px;
      //   outline: 2px solid black;
      //   transition: .25s;
      // }

      &:hover {
        color: white;
        background-color: #313131;
      }
    }

    a:hover:after {
      background-color: #fff;
    }
  }

  &-subtext p {
    font-size: 1.1rem;
    // padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
  }

  p.catalog-spotlight-headline {
    position: relative;
    width: 80%;
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 40px;
    padding: 0;
    text-align: center;
    z-index: 9;
    opacity: .7;
    top: 0;
    text-transform: uppercase;
    color: #313131;
    margin: 0 auto;
    transition: .25s;

    @include bp(small) {
      width: 100%;
      font-size: 3em;
      text-align: center;
      padding-left: 0px;
    }

    @include bp(medium) {
      width: 100%;
      top: 33px;
      font-size: 6em;
      margin-bottom: 0px;
    }

    @include bp(large) {
      position: relative;
      width: auto;
      top: 35px;
      text-align: left;
      font-size: 7em;
      margin: auto;
    }
  }

  a{
    color: #000;;
  }

  .duo {
    max-width: 1080px;
    height: auto;

    @include bp(large) {
      height: 550px;
    }


    a:nth-of-type(2):hover {
      color: #fff;
    }


    .left {
      position: relative;
      float: left;
      width: 47%;
      height: 250px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;

      @include bp(medium) {
        position: relative;
        float: left;
        width: 50%;
        height: 550px;
        display: flex;
        flex-direction: column;
      }


      .big {
        height: 100%;
        background: url("https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1924&q=80") top no-repeat;
        background-size: cover;
      }

      .category {
        font-size: 1rem;
        // font-weight: 600;
        margin-top: 10px;
        background: #fff;
      }
    }

    .right {
      position: relative;
      float: left;
      width: 47%;
      height: 250px;
      // margin-top: 40px;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      transition: .25s;
      overflow: hidden;

      @include bp(medium) {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        float: left;
        width: 50%;
        height: 550px;
        display: flex;
        flex-direction: column;
      }

      .small {
        height: 100%;
        background: url("https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") center no-repeat;
        background-size: cover;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.247);

        @include bp(medium) {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 70%;
          width: 70%;
          background: url("https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") center no-repeat;
          background-size: cover;
          z-index: 3;
        }
      }

      .square1 {
        display: none;

        @include bp(medium) {
          display: block;
        position: absolute;
          top: 0%;
          height: 0px;
          width: 100%;
          background: #7D684E;
          background-size: cover;
          z-index: 2;
        }
      }

      .category {
        font-size: 1rem;
        // font-weight: 600;
        margin-top: 10px;
        z-index: 3;

        @include bp(medium) {
          position: absolute;
          bottom: 15%;
          left: 15%;
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
        }
      }

      .down {
        height: 521px !important;
        transition: all ease .25s;
      }
  
      .up {
        height: 0px;
        transition: all ease .25s;
      }
    }

    .right:hover .small{
      @include bp(medium) {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.247);
      transition: .25s;
      }
    }
  }

  .duo-swap {
    display: block;
    max-width: 1080px;
    height: auto;
    padding-top: 30px;

    @include bp(large) {
      height: 550px;
    }

    a:nth-of-type(1):hover {
      color: #fff;
    }

    .left {
      position: relative;
      float: right;
      width: 47%;
      height: 250px;
      // margin-top: 40px;
      margin-left: 5%;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      transition: .25s;
      overflow: hidden;

      @include bp(medium) {
        position: relative;
        float: left;
        width: 50%;
        height: 550px;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
      }

      .small {
        height: 100%;
        background: url("https://images.unsplash.com/photo-1512413316925-fd4b93f31521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80") center no-repeat;
        background-size: cover;
        overflow: hidden;

        @include bp(medium) {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 70%;
          width: 70%;
          background: url("https://images.unsplash.com/photo-1512413316925-fd4b93f31521?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80") center no-repeat;
          background-size: cover;
          z-index: 3;
        }
      }

      .square {
        display: none;

        @include bp(medium) {
          display: block;
        position: absolute;
          top: 0%;
          height: 0px;
          width: 100%;
          background: #777F93;
          background-size: cover;
          z-index: 2;
        }
      }

      .category {
        position: relative;
        font-size: 1rem;
        // font-weight: 600;
        margin-top: 10px;
        z-index: 3;

        @include bp(medium) {
          position: absolute;
          bottom: 15%;
          left: 15%;
          font-size: 1rem;
          // font-weight: 600;
          margin-top: 10px;
        }
      }
    }

    .left:hover .small{
      @include bp(medium) {
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.247);
      transition: .25s;
      }
    }

    .down {
      height: 521px !important;
      transition: all ease .25s;
    }

    .up {
      height: 0px;
      transition: all ease .25s;
    }

    .right {
      position: relative;
      float: left;
      width: 47%;
      height: 250px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;


      @include bp(medium) {
        position: relative;
        float: left;
        width: 50%;
        height: 550px;
        display: flex;
        flex-direction: column;
      }

      .big {
        height: 100%;
        background: url("https://images.unsplash.com/photo-1456885284447-7dd4bb8720bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80") center no-repeat;
        background-size: cover;
      }

      .category {
        display: inline-block;
        font-size: 1rem;
        // font-weight: 600;
        margin-top: 10px;
        background: #fff;
        width: auto;
      }
    }
  }
}