.quote {
  position: relative;
  display: block;
  width: 100%;
  margin: 0px auto;
  clear: both;

  &-wrapper {
    max-width: 1080px;
    padding: 40px 0px;
    margin: 0 auto;
    text-align: center;
    font-family: $sans3;
    color: $white;
    // border-bottom: 1px solid $pink-red;
    //   border-top: 1px solid $pink-red;

    p {
      color: #313131;
      font-size: 1rem;
      line-height: 1.75em;
      padding: 0 20px;

      @include bp(medium) {
        padding: 0 100px;
      }
    }

    .person {
      color: #000;
      font-size: 1rem;
      line-height: 1.75em;
      padding: 10px 0 0;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}


.catalog {
  position: relative;
min-height: 100vh;
padding-bottom: 2.5rem;
  .page-header {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px auto;
    padding: 0;
    transition: .25s;
  
  &-wrap {
    display: block;
    max-width: 1080px;
    padding: 40px 0px;
    margin: 0 auto;
    font-family: $sans3;
    background: url("https://images.unsplash.com/photo-1598095568755-47ce2097ed86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2133&q=80") center no-repeat;
    background-size: cover;
    position: relative;

    @include bp(medium){
      display: block;
      max-width: 1080px;
      padding: 80px 0px;
      margin: 0 auto;
      font-family: $sans3;
      background: url("https://images.unsplash.com/photo-1598095568755-47ce2097ed86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2133&q=80") center no-repeat;
      background-size: cover;
      position: relative;
    }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff93;
      }

      .title {
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 2em;
        color: #313131;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 2;

        @include bp(medium){
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 3em;
        color: #313131;
        text-transform: uppercase;
        font-weight: 600;
        z-index: 2;
        }
      }
    }

    &-button {
      border: 1px solid #313131;
      display: inline-block;
      text-transform: uppercase;
      margin: 0 auto;
      margin: 10px 0 10px;
      position: relative;



      @include bp(medium) {
        margin-top: 100px;
      }

      a {
        display: block;
        color: $black;
        padding: 10px 30px;
        text-decoration: none;
        transition: .25s;
        font-size: 14px;
        font-weight: 600;
        margin-left: 0px;

        // &:after {
        //   content: '';
        //   width: 40px;
        //   height: 100%;
        //   top:0;
        //   position: absolute;
        //   right: 0;
        //   left: 100%;
        //   background: #313131 url("https://i.ibb.co/WvHYhKz/arrow-white.png") no-repeat center; 
        //   background-size: 18px;
        //   outline: 2px solid black;
        //   transition: .25s;
        // }

        &:hover {
          color: white;
          background-color: #313131;
        }
      }

      a:hover:after {
        background-color: #fff;
      }
    }
  }

  .row {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;

    &-item {
      display: inline-block;
      width: 45%;
      margin: 0 2% 40px;


      @include bp(medium) {
        display: inline-block;
        width: 235px;
        margin: 0 15px 40px;
        transition: .05s;
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      .name,
      .price {
        font-size: .875em;
        font-family: $sans;
        margin: 6px 0;
      }

      .price {
        font-weight: 600;
        //color: $pink-red;
      }
    }
  }

  .duo-row {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;

    &-item {
      display: none;

      @include bp(medium) {
        display: block;
        display: inline-block;
        width: 470px;
        height: 700px;
        margin: 0 30px;
      }

      img {
        width: 100%;
        height: 650px;
      }

      .name,
      .price {
        font-family: $sans;
      }
    }
  }

  .hide {
    display: none;
    transition: 5s;
  }

  .filter-wrap {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 0px;

    #filter {
      text-align: center;
      display: block;
      width: 40%;
      height: 40px;
      padding-left: 10px;
      background: rgb(243, 243, 243);
      border-radius: 20px;
      margin: 0 auto;
      
      @include bp(medium) {
      text-align: left;
      display: block;
      width: 25%;
      height: 40px;
      padding-left: 10px;
      background: rgb(243, 243, 243);
      border-radius: 20px;
      }
    }

    select {
      border: 0px solid red !important;
    }
    select:focus {
      outline: 0px solid red !important;
    }
  }

}