* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;

// outline: 1px dashed indigo;

  // @include bp(xsmall) {
  //   outline: 1px dashed red;
  // }

  // @include bp(small) {
  //   outline: 1px dashed orange;
  // }

  // @include bp(medium) {
  //   outline: 1px dashed yellow;
  // }

  // @include bp(large) {
  //   outline: 1px dashed green;
  // }

  // @include bp(xlarge) {
  //   outline: 1px dashed blue;
  // }
}

* {
  margin: 0;
}

// *+* {
//   margin: 1rem 0 0;
// }

// .main-nav, .mma, body {
//   margin: 0rem 0;
// }

body {
  overflow-x: hidden;
}